@using Microsoft.EntityFrameworkCore;
@using NotesApp.Pages;
@inherits LayoutComponentBase

<PageTitle>Notes sharing</PageTitle>

<div class="my-container container mt-5">
    <div class="row">
        <main role="main" class="ml-sm-auto col-lg-12 px-4">
            @Body
        </main>
    </div>
</div>